@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Pacifico&display=swap');

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 2rem;
}

.home-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.homeButtons {
  display: flex;
  flex-direction: row; /* Display buttons in a row */
  gap: 10px; /* Adjust the gap between buttons as needed */
}

.home-text h1{
  font-size: 4rem;
  font-family: cursive;
}

.btn1 {
  display: inline-block;
  background: var(--main-color);
  color: #fff;
  padding: 0.7rem 1.3rem;
  border-radius: 0.5rem;
  text-decoration: none; /* Remove underline */
  text-align: center;
}

.btn1:hover {
  background: var(--hover);
}

 /* New styles for animation */

 .animated-text {
  overflow: hidden;
  display: inline-block;
  font-size: var(--medium-font);
  font-weight: 400;
}

.animated-text span {
  display: inline-block;
  transform-origin: 50% 50%;
  animation: bounce 1.5s ease-in-out infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
