.about{
  /* border: 2px solid white; */
  background: rgba(136, 105, 153, 0.3);

}

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
  align-items: center;
  opacity: 0;
  transform: translateX(-20px);
  animation: slideIn 0.8s forwards ease-out;
}

.about-img img {
  margin-left: 6rem;
  width: 50%;
  border-radius: 5%;
  height: 100%;
}

.about-text p {
  font-size: var(--p-font);
  font-weight: 400;
  text-align: justify;
  margin-bottom: 1rem;
  color: var(--bg-color);
}
.container.dark .about-text p{
  color: var(--text-color); /* Set text color to text color in dark mode */

}

.container.dark .about-text h2
{
  border-bottom: 3px solid var(--text-color);
  color: var(--text-color); /* Set text color to text color in dark mode */
}

.about-text h2 {
  display: inline-block;
  border-bottom: 3px solid var(--bg-color);
  padding-bottom: 5px;
  margin-bottom: 18px;
  color: var(--bg-color);
}

.skill {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  padding: 10px;
  margin: 5px;
  background: var(--main-color);
  color: #fff;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: rgb(2, 166, 70);
}

.green-bg {
  background-color: rgb(2, 166, 70);
}

.blue-bg {
  background: var(--main-color);
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 600px) {
  .skill .btn {
    width: calc(33.33% - 10px); /* Adjust width to display 3 buttons in a row with some margin */
    margin: 5px;
    margin-bottom: 10px;
  }
}
@media(max-width:768){
  .about-container {
    grid-template-columns: 1fr;
  }
  .about-img {
    display: flex;
    justify-content: center;
  }
  .skill-container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 767px) {
  .about-container {
    grid-template-columns: 1fr;
    gap:2rem;
    margin:5px ;
  }

  .about-img img {
    margin-left: 0;
    /* width: 100%; */
  }
}

@media screen and (max-width: 380px) {

  .btn1 {
    margin-right: 2%;
    margin-bottom: 1rem; /* Add some spacing between buttons */
  }
}
