.contact-container {
  margin: 0px auto;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact {
  background-color: rgba(136, 105, 153, 0.3);
  max-width: 800px;
  margin: 0 auto;
  padding: 0 80px; /* Adjust padding for smaller screens */
}

.social-icons {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons > a {
  margin-right: 10px;
  font-size: 30px;
  color: #007bff;
}

form {
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea.form-control {
  min-height: 100px;
}

input{
  height: 32px;
}

.Last-step {
  display: flex;
  justify-content: center;
  gap: 1.1rem;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.select-wrapper {
  position: relative;
  width: 100%;
}

.select-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding-right: 30px; /* Adjust according to the size of the arrow icon */
}

.arrow-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the position of the arrow icon */
  transform: translateY(-50%);
  pointer-events: none;
}

.arrow-icon svg {
  width: 20px; /* Adjust the size of the arrow icon */
  height: auto;
}


@media screen and (max-width: 600px) {
  .contact {
    padding: 0 10px; /* Adjust padding for smaller screens */
  }

  .social-icons {
    margin: 10px;
  }

  .social-icons > a {
    font-size: 24px;
  }

  .form-control {
    font-size: 14px;
  }

  textarea.form-control {
    min-height: 80px;
  }
  .Last-step {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.1rem;
  }
}
