.nav-bar {
  position:fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background:lightblue; */
  padding: 15px -1;
  transition: 0.5s;
  /* margin: 20px; */
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
}
.Logo {
  margin: 0 70px; /* Adjust margin as needed */
}

.Logo img {
  width: 120px; /* Adjust the width of the logo */
  height: auto; /* Maintain aspect ratio */
}

.toggle-icon {
  height: 30px;
  width: 30px;
  margin-top: 10px;
  cursor: pointer;
  
}


.scrolled {
  background-color: #80b9ca; /* Change to your desired background color for scrolled state */
}
.nav-b{
  display: flex;
  margin-right: 80px;
  margin-top: 10px;

}
.menu-icon {
  display: none;
  width: 30px;
  cursor: pointer;
  color: var(--bg-color);
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}
.dark-mode .nav-links{
  color: var(--bg-color);
}

.nav-links li {
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
  /* color:white; */
}


.dark-mode .nav-links {
  color: var(--text-color); /* Set text color to bg color in dark mode */
}

.show {
  display: flex;
  flex-direction: column;
}

.container.dark .logo,
.container.dark .nav-links{
  color: white; /* Set logo and menu color to background color */
} 

.container .nav-links{
  color:var(--bg-color);
} 

@media screen and (max-width: 768px) {
    .toggle-icon {
      display: flex;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 40px;
      height:40px
    }
    .menu-icon {
      display: block;
      color: red;
    }
  
    .navbar {
      position: flex; /* Ensure relative positioning for absolute children */
    }
  
    .Logo {
      margin: 20px 20px; /* Adjust margin to make space for the toggle-icon */
    }
  
    .nav-b {
      display: flex;
      justify-content: space-between; /* Add space between nav-links and toggle-icon */
      align-items: center;
      margin-right: 20px; /* Adjust margin for spacing */

    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: calc(100% + 0px); /* Position the menu just below the navbar */
      right: 0;
      width: 100%; /* Adjust the width as needed for smaller screens */
      /* max-width: 300px;  */
      background-color: #17199b;
      color: white;
      border-top: 1px solid #ccc;
      border-radius:  0 0 20px 20px;
      z-index: 100; /* Set a high z-index value to ensure the menu is on top */
      padding:0;
      /* margin:0 20px; */
    }
  
    .nav-links.show {
      display: flex;
    }
    .container.dark .nav-links{
      color: white; /* Set logo and menu color to background color */
    } 
    
    .container .nav-links{
      color: white; /* Set logo and menu color to background color */
    }
  } 

@media screen and (min-width: 769px) {
  .nav-links {
    position: static; /* Reset position for larger screens */
    display: flex;
    justify-content: flex-end; /* Adjust alignment for larger screens */
    width: auto; /* Reset width for larger screens */
    border-top: none; /* Remove border for larger screens */
  }

}
@media screen and (max-width: 400px) {
  .toggle-icon {
    display: flex;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height:40px
  }
  .menu-icon {
    display: block;
    color: red;
  }

  .navbar {
    position: flex; 
    flex-wrap: nowrap;/* Ensure relative positioning for absolute children */
  }

  .Logo {
    margin: 2px 2px; /* Adjust margin to make space for the toggle-icon */
  }

  .nav-b {
    display: flex;
    justify-content: space-between; /* Add space between nav-links and toggle-icon */
    align-items: center;
    margin-right: 20px; /* Adjust margin for spacing */

  }
.container.dark .nav-links{
  color: white; /* Set logo and menu color to background color */
} 

.container .nav-links{
  color: white; /* Set logo and menu color to background color */
} 
}

