/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  /* scroll-padding-top: 2rem; */
  font-family: "Poppins", sans-serif;
}
:root {
  --main-color: #033a80;
  --bg-color: #0f0c27;
  --text-color: #fff;
  --hover: hsl(260, 100%, 51%);

  --big-font: 9.2rem;
  --medium-font: 2.8rem;
  --p-font: 0.98rem;
}
section {
  padding: 50px 10%;
  min-height: 100vh;
}

.container {
  width: 100vw;
  min-height: 100vh;
  background: var(--text-color);
  transition: 0.5s;
}

.container.dark {
  background: var(--bg-color);
}

/* body.active {
  --text-color: #251c13;
  --bg-color: #c9a57a;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
*::selection {
  color: var(--bg-color);
  background: var(--main-color);
} */

a {
  text-decoration: none;
}
  /* Add this style to change the text color to black */
  .card-body p, .card-body h4 {
    color: black;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow */
  max-width: 80%; /* Limit the maximum width of the modal content */
}

.close {
  color: #333; /* Darken the close button color */
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #000; /* Darken the close button color on hover */
}


.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Close button hover effect */
.modal button:hover {
  background-color: #45a049;
}

/* Optional: Add some transition effects for a smoother appearance */
.modal, .overlay {
  transition: 0.3s;
}




#image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 123, 255, 0.7); /* Background color with opacity */
  color: #fff; /* Text color */
  padding: 20px; /* Padding around the text */
  border-radius: 8px; /* Optional: Add rounded corners to the overlay */
}
.heading {
  text-align: center;
  color:var(--bg-color)
}

.container.dark .heading{
  color:var(--text-color)
}


.heading h2 {
  font-size: 30px;
  margin-top: 40px;
}
 
.heading span {
  font-size: var(--p-font);
  color: rgb(2, 166, 70);
}

@media (max-width: 991px) {
  section {
    padding: 50px 4%;
  }
}

@media (max-width: 881px) {
  :root {
    --big-font: 2.7rem;
    --medium-font: 1.4rem;
  }
}

@media (max-width: 768px) {
  :root {
    --big-font: 2.4rem;
    --medium-font: 1.2rem;
  }
}
 @media (max-width: 340px) {
  :root {
    --big-font: 1.7rem;
    --medium-font: 1.1rem;
  }
  
}
